a:visited,
a:link {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#timer {
  background-color: #888;
  color: #fff;
  padding: 15px;
  text-align: center;
}

#timer .time {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

#timer .type {
  font-size: 12px;
  display: block;
}

#card-vote .row {
  margin-right: 0;
  margin-left: 0;
}

#card-vote .row > .col {
  padding: 0;
}

#card-vote .card-title-block {
  margin: 15px;
}

#card-vote .card-body {
  padding: 0;
}

#card-vote #daftar-calon-hmj {
  background: -webkit-gradient(linear, left top, left bottom, from(#e74a47), to(#e53935));
  background: linear-gradient(#e74a47, #e53935);
}

#card-vote #daftar-calon-bem {
  background: -webkit-gradient(linear, left top, left bottom, from(#58af5c), to(#43a047));
  background: linear-gradient(#58af5c, #43a047);
}

#card-vote #daftar-calon-dpm {
  background: -webkit-gradient(linear, left top, left bottom, from(#fc9f15), to(#fb8c00));
  background: linear-gradient(#fc9f15, #fb8c00);
}

#card-vote .nav-pills .nav-link {
  padding: 15px 30px;
  border-radius: 0;
}

#card-vote .nav-pills .nav-link .desc {
  text-align: center;
  display: block;
  font-size: 12px;
}

#card-vote .nav-pills .nav-link.nav-hmj.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#ef5350), to(#e74a47));
  background: linear-gradient(#ef5350, #e74a47);
}

#card-vote .nav-pills .nav-link.nav-bem.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#66bb6a), to(#58af5c));
  background: linear-gradient(#66bb6a, #58af5c);
}

#card-vote .nav-pills .nav-link.nav-dpm.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa726), to(#fc9f15));
  background: linear-gradient(#ffa726, #fc9f15);
}

#card-vote .tab-pane {
  position: relative;
}

#card-vote .card-calon {
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
}

#card-vote .card-calon:first-child {
  margin-left: 20px;
}

#card-vote .card-calon > .nomor-urut {
  padding: 15px;
  left: 30px;
  top: -30px;
  text-align: center;
  background-color: #fff;
  font-size: 25px;
  font-weight: bold;
}

#card-vote .card-calon button {
  padding: 15px 30px;
  border-radius: 3px;
  cursor: pointer;
}

#card-vote .card-calon .card-body {
  padding: 15px;
}

#card-vote .card-calon .card-body .row .col-sm {
  padding: 10px;
}

#card-vote .card-calon .card-body h6 {
  font-size: 15px;
  font-weight: 300;
}

#card-vote .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: +10;
  background-color: rgba(0, 0, 0, 0.5);
}

#card-vote .mask h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 100;
}

#card-vote .blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

