@import 'var';
html,
body {
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 14px;
}

.app {
    .content {
        padding: 70px 0px 45px 0px;
    }
}

.ui-tab {
    width: 100%;
    background-color: #d7dde4;
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    >li {
        >a {
            padding: 10px 20px;
            display: block;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.5);
            &:hover {
                color: rgba(0, 0, 0, 0.75);
                text-decoration: none;
            }
            &:link {
                text-decoration: none;
            }
        }
        &.active {
            >a {
                border-bottom: 5px solid rgba(0, 0, 0, .5);
                color: rgba(0, 0, 0, 0.75);
            }
        }
    }
}

@media (max-width: 767px) {
    .app {
        .content {
            padding: 50px 0px 45px 0px;
        }
    }
}

#daftar-mahasiswa {
    padding: 20px;
    .card-mhs {
        border-radius: 5px;
        margin-bottom: 20px;

        .alert{
            margin-left: -15px;
            margin-right: -15px;
            border: none;
            border-radius: 0;

            &.alert-info {
                background-color: lighten($color: #76D4F5, $amount: 20);
                color: darken($color: #76D4F5, $amount: 30);
            }
            
            &.alert-warning {
                background-color: lighten($color: rgb(245, 215, 118), $amount: 20);
                color: darken($color: rgb(245, 215, 118), $amount: 30);
            }
        }

        .title-block {

            >.title {
                color: darken($themeColor, 10)
            }

            margin-bottom: 5px;
        }

        h6 {
            font-size: 14px;
        }

        .counter-block {
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            margin-right: -15px;
            margin-left: -15px;
            display: flex;
            justify-content: center;
            align-content: center;
            margin-bottom: 10px;
            margin-top: 10px;
            >.item {
                padding: 15px;
                text-align: center;
                >.counter {
                    font-size: 20px;
                    display: block;
                }
                >.desc {
                    font-size: 12px;
                    display: block;
                }

                > span {
                    cursor: pointer;
                }

                &:not(:last-child) {
                    border-right: 1px solid #dddddd;
                }
            }
        }
        button {
            cursor: pointer;
            border-radius: 2px;
            float: right;
            padding: 10px 20px;
            &:last-child {
                margin-right: 10px;
            }
        }
        .btn-primary {
            // background-color: rgb(51, 103, 214);
            color: #fff;
            border: none;
            outline: none;
        }
        .btn-text-warning {
            color: #ce3636;
            background: transparent;
            font-weight: bold;
            &:hover {
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
    }
}

.header--padding {
    background: #d7dde4;
    padding: 15px;
}

.fab {
    color: #fff;
    width: 60px;
    height:60px;
    display: flex;
    border-radius: 50%;
    position: fixed;
    justify-content: center;
    align-content: center;
    align-items: center;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    z-index: +10;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, .3);
    background-color: #3698ce;
    transition: all ease-in-out 0.2s;

    &:hover {
        background-color: lighten(#3698ce, 5);
    }

    &:active {
        background-color: darken(#3698ce, 10);
        box-shadow: none;
        bottom: 27px;
    }

}

#daftar-kasublab {
    padding: 20px;
}

#cari {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, .05);
    display: flex;
    margin-bottom: 20px;

    input[type="text"] {
        border: none;
        background: transparent;
        flex-grow: 2;
    }

    button {
        background: transparent;
        border: none;
        padding: 0 10px 0;
        color: #333;
        cursor: pointer;
    }
}